<style>
body {
  background: black;
  background-size: cover;
}
</style>
<script type="text/javascript">
    var index=0;
    function changeBanner(){ 
      [].forEach.call(document.images,function (v,i) { document.images[i].hidden = i!==index});
      index = (index+1) % document.images.length;
    }
    window.onload = function () {setInterval(changeBanner, 1000)};
  </script>

  <div id="wrapper">
    <div>
		{{{images}}}
    </div>
  </div>